{% extends('@OCArticle/masterDesign.html.twig') %}

{% block body %}
    <div style="text-align: center; margin: auto;">
        
        {% if app.session.flashBag.has("formValidate") %}
            
            <h1> Message flash: {{ app.session.flashBag.get("formValidate")[0] }} </h1>
            
        {% endif %}
        
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
    
