create_user:
    path: /create
    controller: OC\ArticleBundle\Controller\LoginController::createUserAction

login:
    path: /login
    controller: OC\ArticleBundle\Controller\LoginController::loginAction

login_check:
    path: /login_check
    
logout:
    path: /logout

oc_article_homepage:
    path:     /
    defaults: { _controller: OCArticleBundle:Default:index }

oc_article_control:
    path: /article
    defaults:
        _controller: OCArticleBundle:Article:index

oc_article_create:
    path: /article/new
    controller: OC\ArticleBundle\Controller\ArticleController::newAction
    
oc_article_edit:
    path: /article/edit/{id}
    controller: OC\ArticleBundle\Controller\ArticleController::editAction
    
oc_article_remove:
    path: /article/remove/{id}
    controller: OC\ArticleBundle\Controller\ArticleController::removeAction